# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

nri-perfmon/bin/**
nri-perfmon/obj/**
packages/**
.vs/**


*.db

nri-perfmon/Properties/**
nri-perfmon/Settings.cs

*.pdf
**/.DS_Store
